<div class="page-header">
  <%= link_to new_intern_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Intern
  <% end %>
  <h1>Listing interns</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Starttime</th>
            <th>Endtime</th>
            <th>Description</th>
            <th>Url</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @interns) do |intern| %>
            <td><%= intern.title %></td>
            <td><%= intern.starttime %></td>
            <td><%= intern.endtime %></td>
            <td><%= intern.description %></td>
            <td><%= intern.url %></td>
            <td><%= link_to 'Show', intern %></td>
        <td><%= link_to 'Edit', edit_intern_path(intern) %></td>
        <td><%= link_to 'Destroy', intern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
