<div class="page-header">
<% if current_user.admin %>
  <%= link_to interns_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_intern_path(@intern), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<% end -%>
  <h1>實習資訊</h1>
</div>

<dl class="dl-horizontal">
  <dt>實習單位</dt>
  <dd><%= @intern.title %></dd>

  <dt>公告日期</dt>
  <dd><%= @intern.starttime %></dd>

  <dt>截止日期</dt>
  <dd><%= @intern.endtime %></dd>

  <dt>實習說明</dt>
  <dd><%= @intern.description.html_safe %></dd>

  <dt>參考網址</dt>
  <dd><%= link_to @intern.url, @intern.url %></dd>

  <dt>申請?</dt>
  <dd><%= link_to "我要申請", applyfor_intern_path(@intern), class: "btn btn-primary" %></dd>

</dl>
